*{
margin:0;
padding:0;
list-style:none;
text-decoration:none;
}
html,body{
	 width:100%;
	heigh:100%;
	background-color: #F7F7F8;
	padding-bottom: 30px;
}
.wrapper{
 width:100%;
 heigh:100%;
}
/*客服热线*/
.wrapper .header{
width:100%;
height:30px;
background-color:#1778c7;

}
.wrapper .header .top{
width:1000px;
height:30px;
margin:0 auto;
color:#fff;
font-size:12px;
line-height:30px;
}
.wrapper .header .top .hotline{
float:left;
}
.wrapper .header .top .hotline img{
width:30px;
height:30px;
float:left;
}
.wrapper .header .top .welcome{
float:right;
    margin-right: 10%;
}
.wrapper .header .top .welcome span {
margin-left:20px;
}

.wrapper .header .top .welcome span a{
color:#fff;
}
.wrapper .header .top .welcome span a:hover{
color:#FFCC00;
}

.wrapper .content{
width:1000px;
height:800px;
margin:0 auto;
}

.wrapper .content .con-main{
	width: 1000px;
	height: 850px;
	background-color: #fff;
	
}
.wrapper .content .con-main .con-l{
	width: 30%;
	height: 850px;
	background-color: #222C38;
	float: left;
}
.wrapper .content .con-main .con-l hr{
	margin-top: 60px;
}
.wrapper .content .con-main .con-l p{
	color: #fff;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
.wrapper .content .con-main .con-l .btn{
	width: 180px; 
	height: 40px; 
	border-width: 0px; 
	border-radius: 2em; 
	background:#1778C7; 
	cursor: pointer; 
	outline: none; 
	color: white;
	font-size: 18px;
	margin: 0 auto;
	text-align: center;
	display: block;
	   
}
.wrapper .content .con-main .con-l .info,.wrapper .content .con-main .con-l .act{
	width: 100%;
	background-color: #293442;
	height: 50px;
	font-size: 18px;
	color: #fff;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px solid #222C38;
	
}
.wrapper .content .con-main .con-r{
	width: 70%;
	height:850px;
	float: left;
	
}
.wrapper .content .con-main .con-r h2,.wrapper .content .con-main .con-r1 h2{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.wrapper .content .con-main .con-r1{
	width: 70%;
	height:850px;
	float: left;
	display: none;
	
}
.wrapper .content .con-main .con-r .character,.wrapper .content .con-main .con-r1 .character{
	width: 100%;
	height: 50px;
}
.wrapper .content .con-main .con-r .character li,.wrapper .content .con-main .con-r1 .character li{
	float: left;
	font-size: 18px;
	line-height: 50px;
	width: 33.4%;
	height:50px ;
	text-align: center;
	border: 1px solid  #eee;
	box-sizing: border-box;
}
.wrapper .content .con-main .con-r1 .character li{
	width: 20%;
    border-left: none;
	border-right: none;
}
.wrapper .content .con-main .con-r1 .introduce{
	width: 100%;
	height: 100px;
	border-bottom:1px solid gray;
}
.wrapper .content .con-main .con-r1 .introduce .box{
	width: 20%;
	height: 100px;
	float: left;
	position: relative;
}
.wrapper .content .con-main .con-r1 .introduce .box img{
	width: 100px;
	height: 100px;
	float: left;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
}
.wrapper .content .con-main .con-r1 .introduce span{
	width: 20%;
	height: 100px;
	float: left;
	font-size: 16px;
	display: block;
	text-align: center;
	line-height:100px ;
}
.wrapper .content .con-main .con-r .character li.bo{
	margin-left: -1px;
}
.wrapper .content .con-main .con-r .regi{
	width: 100%;
	height:auto;
	margin: 0 auto;
	background-color: #fff;
	padding-bottom: 10px;
	
}


.wrapper .content .con-main .con-r .regi .user{
width: 700px;
height: auto;
margin-top: 10px;
}
.wrapper .content .con-main .con-r .regi .user.first{
margin-top: 0;
padding-top: 30px;
}
.wrapper .content  .con-main .con-r .regi .user .name{
	font-size: 22px;
	line-height: 50px;
	width: 160px;
	height: 50px;
	display: inline-block;
	text-align: right;
}

.wrapper .content .con-main .con-r .regi .user input{
width: 340px;
height: 30px;
line-height: 30px;
padding: 6px 0;
}
.wrapper .content .con-main .con-r .regi .user textarea{
vertical-align: middle;
}
.wrapper .content .con-main .con-r .sumbit{
	width: 900px;
	height: 40px;
	margin: 30px auto 30px auto;
}
.wrapper .content .con-main .con-r button{
width: 180px; 
	height: 40px; 
	border-width: 0px; 
	border-radius: 3px; 
	background: #1778C7; 
	cursor: pointer; 
	outline: none; 
	font-family: Microsoft YaHei;
	color: white;
	font-size: 17px;
	margin-left: 110px;
   

}
